<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>songquan.Pomo-TAP.watchkitapp</string>
	<key>CFBundleName</key>
	<string>Pomo TAP</string>
	<key>CFBundleDisplayName</key>
	<string>Pomo TAP</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>WKCompanionAppBundleIdentifier</key>
	<string>songquan.Pomo-TAP</string>
	<key>WKWatchKitApp</key>
	<true/>
	<key>WKAppBundleIdentifier</key>
	<string>songquan.Pomo-TAP.watchkitapp</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>请允许通知权限，以便提醒您番茄钟的完成状态。</string>
	<key>WKBackgroundModes</key>
	<array>
		<string>self-care</string>
		<string>mindfulness</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
		<string>processing</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>WKApplication</key>
	<dict>
		<key>WKAlwaysRunsInBackground</key>
		<true/>
		<key>WKSupportsAlwaysOnDisplay</key>
		<false/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pomoTAP</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.songquan.pomoTAP</string>
		</dict>
	</array>
</dict>
</plist>
